<div class="col-12" style="margin-top: 120px;">
		
	<div class="container bootstrap snippet">
	    <div class="row">

	  		<div class="col-sm-12">
	  			<h3 style="color: white;">Rafael Carvalho</h3>
	  			<br>              
	  		</div>
	     
	    </div>
	    <div class="row">
	  		<div class="col-sm-3"><!--left col-->
	              

	      <div class="text-center">
	        <img ng-src="{{perfil.usuario.imagem}}" class="avatar img-circle img-thumbnail" alt="avatar">
	 
	      </div></hr><br>              
	    	          
	        </div><!--/col-3-->
	    	<div class="col-sm-9">
 	              
	          <div class="tab-content">
	            <div class="tab-pane active" id="home">
	                <hr>
	                  <form class="form" action="##" method="post" id="registrationForm">
	                      <div class="form-group">
	                          
	                          <div class="col-xs-6">
	                              <label for="nome" style="color: white;"><h4>Nome</h4></label>
	                              <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome" title="Nome completo" ng-model="perfil.usuario.nome">
	                          </div>
	                      </div>
 	          
	                      <div class="form-group">
	                          
	                          <div class="col-xs-6">
	                              <label for="phone" style="color: white;"><h4>Telefone</h4></label>
	                              <input type="text" class="form-control" name="fone" id="fone" placeholder="Telefone" title="Telefone" ng-model="perfil.usuario.telefone">
	                          </div>
	                      </div>
	          
	          	            <div class="form-group">
	                          
	                          <div class="col-xs-6">
	                              <label for="email" style="color: white;"><h4>E-mail</h4></label>
	                              <input type="email" class="form-control" name="email" id="email" placeholder="exemplo@email.com" title="E-mail" ng-model="perfil.usuario.email">
	                          </div>
	                      </div>
	 
	                      <div class="form-group">
	                           <div class="col-xs-12">
	                                <br>
	                              	<button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Salvar</button>
	                               	
	                            </div>
	                      </div>
	              	</form>
	              
	              <hr>
	              
	             </div><!--/tab-pane-->
	              
	            
	               
	              </div><!--/tab-pane-->
	          </div><!--/tab-content-->

	        </div><!--/col-9-->
	    </div><!--/row--> 

</div>

 <style type="text/css">
 	body{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}
 </style>